/* Styles */
:root, * {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: auto 4fr;
    min-height:100vh;
    background-color: red;
}

/* ============== Font Styles ============== */

li {
    list-style-type: none;
}

h6 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

/* ============== Header Styles ============ */

.header {
    grid-row: 1/2;
    background-color: grey;
    height: 200px;
}

.search-and-profile *{
    display: flex;
    flex-direction: row;
}

.banner * {
    display: flex;
    flex-direction: row;
}

.banner .greeting {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    padding-bottom: 12px;
}


/* ============== Sidebar Styles =========== */

h1 {
    font-size: 36px;
    padding: 0 8px 24px 8px;
}

.sidebar {
    background-color: aqua;
    grid-row: 1/3;
    width: 300px;

}

.sidebar > nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 48px;
    padding: 32px;
}

.sidebar li {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


/* ============== Main Styles ============== */

main {
    display: grid;
    grid-template-columns: 3fr 324px;
    
}

.your-projects {
    grid-row: 1/3;
    grid-column: 1/2;
    padding: 24px;
}

.card {
    background-color: white;
    height: 200px;
    width: calc(clamp(348px, 100%, 800px) - 48px);
    padding: 24px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
    background: linear-gradient(to right, #000 0%, #000 2%, #fff 2%, #fff 100%);
}


.card-buttons > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 16px;
    position: absolute;
    align-items: center;
    bottom: 0px;
    right: 4px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px;
    overflow: auto;

}



.announcements {
    background-color: white;
    border-radius: 8px;
    padding: 32px;
}

.announcements-container {
    padding: 24px;
    padding-left: 0px;
    width: 300px;
}

.announcements li, .trending li {
    align-items: center;
    gap: 16px;
    padding: 16px 0 16px 0;
    border-bottom: grey 1px solid;
}

.announcements li:first-child, .trending li:first-child {
    padding-top: 0;

}
.announcements li:last-child, .trending li:last-child {
    border-bottom: 0px;
    padding-bottom: 0;
}


.trending {
    background-color: white;
    border-radius: 8px;
    padding: 32px;
}

.trending-container {
    padding: 24px;
    padding-left: 0px;
    width: 300px;
}

.trending li {
    display: flex;
    flex-direction: row;

}
